html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
}

#file-input {
  z-index: 1;
  background: beige;
  margin: 8px;
  position: absolute; 
  top:0px; 
  left: 0px;
}

#main-container {
  height: 100%;
}